Merging weather data with historical actual solar power and measurements of solar radiation and temperature

Merge, join, and concatenate

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

https://stackoverflow.com/questions/36292959/pandas-merge-data-frames-on-datetime-index

https://stackoverflow.com/questions/39816671/pandas-populate-new-dataframe-column-based-on-matching-columns-in-another-datafr

In [1]:
import pandas as pd
import numpy as np
import datetime as dt
import csv 
import matplotlib.pyplot as plt
import pytz

In [2]:
import os
cwd = os.getcwd()
cwd
# os.chdir('pvinhokkaidodatadistribution')
# C:\Users\Mhdella\Google Drive\Jupyter Folder\PV_Hokkaido_forecast_contest\
os.chdir('C:\\Users\\Mhdella\\Google Drive\\Jupyter Folder\\PV_Hokkaido_forecast_contest\\pvinhokkaidodatadistribution')
nwd=os.getcwd()
nwd

'C:\\Users\\Mhdella\\Google Drive\\Jupyter Folder\\PV_Hokkaido_forecast_contest\\pvinhokkaidodatadistribution'

In [3]:
dfp=pd.read_csv('LD1_P201601~201712.csv', parse_dates=[['DATE', 'TIME']]) 
dfq=pd.read_csv('LD2_QT201601~201712.csv', header = 1, parse_dates=[['DATE', 'TIME']]) 

dfs1_mes=pd.read_csv('Res_comb_S1_mes.csv',parse_dates=[['DATE', 'TIME']]) 
dfs1_mes_tz=pd.read_csv('Res_comb_S1_mes_tz_Jp.csv',parse_dates=[['DATE', 'TIME']])
dfs2_mes=pd.read_csv('Res_comb_S2_mes.csv',parse_dates=[['DATE', 'TIME']]) 
dfs2_mes_tz=pd.read_csv('Res_comb_S2_mes_tz_Jp.csv',parse_dates=[['DATE', 'TIME']])

dfs1_mes2017_tz=pd.read_csv('Res_comb_S1_mes_2017_tz_Jp.csv',parse_dates=[['DATE', 'TIME']])
dfs2_mes2017_tz=pd.read_csv('Res_comb_S2_mes_2017_tz_Jp.csv',parse_dates=[['DATE', 'TIME']])

dfq.head()
# dfp.head()
# dfs1_mes_tz.head()
# print(len(dfp), len(dfq))
# print(len(dfs1_mes), len(dfs2_mes), len(dfs1_mes_tz), len(dfs2_mes_tz))

# list(dfq)
# list(dfp)
# list(dfs1_mes)

,DATE_TIME,solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3
0,2016-01-01 00:00:00,-0.000778,-2.3,-0.000902,-2.5,-0.000717,-8.8,-0.002055,-4.4
1,2016-01-01 00:30:00,-0.000703,-2.2,-0.000727,-2.8,-0.000073,-9.3,-0.002093,-4.2
2,2016-01-01 01:00:00,-0.000713,-2.1,-0.000774,-3.2,-0.000957,-9.0,-0.000592,-4.9
3,2016-01-01 01:30:00,0.000029,-2.2,-0.000942,-3.5,-0.001920,-8.6,-0.001966,-5.6
4,2016-01-01 02:00:00,-0.000261,-2.4,-0.000459,-3.7,-0.000978,-7.9,-0.001745,-5.5

Merge, join, and concatenate

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

https://stackoverflow.com/questions/36292959/pandas-merge-data-frames-on-datetime-index

In [4]:
dfp.set_index(pd.to_datetime(dfp['DATE_TIME']), inplace=True)
dfq.set_index(pd.to_datetime(dfq['DATE_TIME']), inplace=True)

#### dfp.join(dfq, how='right')
dfpq=pd.merge(dfp,dfq, how='inner', on='DATE_TIME')
dfpq.head()

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3
0,2016-01-01 00:00:00,0.0,0.0,-0.000778,-2.3,-0.000902,-2.5,-0.000717,-8.8,-0.002055,-4.4
1,2016-01-01 00:30:00,0.0,0.0,-0.000703,-2.2,-0.000727,-2.8,-0.000073,-9.3,-0.002093,-4.2
2,2016-01-01 01:00:00,0.0,0.0,-0.000713,-2.1,-0.000774,-3.2,-0.000957,-9.0,-0.000592,-4.9
3,2016-01-01 01:30:00,0.0,0.0,0.000029,-2.2,-0.000942,-3.5,-0.001920,-8.6,-0.001966,-5.6
4,2016-01-01 02:00:00,0.0,0.0,-0.000261,-2.4,-0.000459,-3.7,-0.000978,-7.9,-0.001745,-5.5

In [5]:
dfs1_mes2017_tz.set_index(pd.to_datetime(dfs1_mes2017_tz['DATE_TIME']), inplace=True)
dfs2_mes2017_tz.set_index(pd.to_datetime(dfs2_mes2017_tz['DATE_TIME']), inplace=True)

dfpq_s1_2017mes=pd.merge(dfpq,dfs1_mes2017_tz, how='inner', on='DATE_TIME')
dfpq_s1_2017mes.head()

dfpq_s2_2017mes=pd.merge(dfpq,dfs2_mes2017_tz, how='inner', on='DATE_TIME')
dfpq_s2_2017mes.head()

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3,Temperature_surface,U-component_of_wind,V-component_of_wind,Total_cloud_cover_entire_atmosphere,Total_precipitation,Snow_depth,Albedo,Downward_Short-Wave_Rad_Flux,Upward_Short-Wave_Rad_Flux_surface
0,2017-03-31 18:00:00,0.0,0.0,-0.001291,1.6,-0.000201,1.6,-0.001585,-1.7,-0.001559,-1.2,265.500000,4.970000,-2.12,41.000000,0.030000,0.35,77.400002,440.000000,338.000000
1,2017-03-31 18:30:00,0.0,0.0,-0.001130,1.3,-0.000525,1.3,-0.001005,-2.1,-0.001719,-1.4,265.466665,4.983333,-1.95,44.833333,0.046667,0.35,77.400002,423.333333,325.333333
2,2017-03-31 19:00:00,0.0,0.0,-0.001533,1.0,-0.001055,1.0,-0.001670,-2.2,-0.001438,-1.8,265.433329,4.996667,-1.78,48.666667,0.063333,0.35,77.400002,406.666667,312.666667
3,2017-03-31 19:30:00,0.0,0.0,-0.001635,0.9,-0.000475,0.9,-0.001388,-2.4,-0.001158,-2.5,265.399994,5.010000,-1.61,52.500000,0.080000,0.35,77.400002,390.000000,300.000000
4,2017-03-31 20:00:00,0.0,0.0,-0.001696,0.7,-0.000441,1.0,-0.001147,-2.8,-0.001892,-2.7,265.366659,5.023333,-1.44,56.333333,0.096667,0.35,77.400002,373.333333,287.333333

In [6]:
print(len(dfpq_s1_2017mes), len(dfpq_s2_2017mes))

13212 13212

NOTE: S1 and S2 can be aslo merged together with the power and measurements (that could increas the training power for the forecasting mode).

In [7]:
dfpq_s1_s2_2017mes=pd.merge(dfpq_s1_2017mes,dfs2_mes2017_tz, how='inner', on='DATE_TIME')
dfpq_s1_s2_2017mes.head()

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,...,Upward_Short-Wave_Rad_Flux_surface_x,Temperature_surface_y,U-component_of_wind_y,V-component_of_wind_y,Total_cloud_cover_entire_atmosphere_y,Total_precipitation_y,Snow_depth_y,Albedo_y,Downward_Short-Wave_Rad_Flux_y,Upward_Short-Wave_Rad_Flux_surface_y
0,2017-03-31 18:00:00,0.0,0.0,-0.001291,1.6,-0.000201,1.6,-0.001585,-1.7,-0.001559,...,284.000000,265.500000,4.970000,-2.12,41.000000,0.030000,0.35,77.400002,440.000000,338.000000
1,2017-03-31 18:30:00,0.0,0.0,-0.001130,1.3,-0.000525,1.3,-0.001005,-2.1,-0.001719,...,274.666667,265.466665,4.983333,-1.95,44.833333,0.046667,0.35,77.400002,423.333333,325.333333
2,2017-03-31 19:00:00,0.0,0.0,-0.001533,1.0,-0.001055,1.0,-0.001670,-2.2,-0.001438,...,265.333333,265.433329,4.996667,-1.78,48.666667,0.063333,0.35,77.400002,406.666667,312.666667
3,2017-03-31 19:30:00,0.0,0.0,-0.001635,0.9,-0.000475,0.9,-0.001388,-2.4,-0.001158,...,256.000000,265.399994,5.010000,-1.61,52.500000,0.080000,0.35,77.400002,390.000000,300.000000
4,2017-03-31 20:00:00,0.0,0.0,-0.001696,0.7,-0.000441,1.0,-0.001147,-2.8,-0.001892,...,246.666667,265.366659,5.023333,-1.44,56.333333,0.096667,0.35,77.400002,373.333333,287.333333

In [8]:
print(len(dfpq_s1_s2_2017mes)) #number of rows
print(len(dfpq_s1_s2_2017mes.columns))  #number of columns

13212
29

In [9]:
# dfs1_mes.set_index(pd.to_datetime(dfs1_mes['DATE_TIME']), inplace=True)
# dfs2_mes.set_index(pd.to_datetime(dfs2_mes['DATE_TIME']), inplace=True)

dfs1_mes_tz.set_index(pd.to_datetime(dfs1_mes_tz['DATE_TIME']), inplace=True)
dfs2_mes_tz.set_index(pd.to_datetime(dfs2_mes_tz['DATE_TIME']), inplace=True)

df_s1_s2_2018mes=pd.merge(dfs1_mes_tz,dfs2_mes_tz, how='inner', on='DATE_TIME')
df_s1_s2_2018mes.head()
df_s1_s2_2018mes.describe()

print(len(df_s1_s2_2018mes), len(dfpq_s1_s2_2017mes))
print(len(df_s1_s2_2018mes.columns), len(dfpq_s1_s2_2017mes.columns))

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

18973 13212
19 29

In [11]:
# dfpq_s1_s2_2017mes.to_csv('Merg_Res_Comb_S1_S2_2017_tz_Jp.csv', encoding='utf-8', index=False)

# df_s1_s2_2018mes.to_csv('Merg_Res_Comb_S1_S2_2018_tz_Jp.csv', encoding='utf-8', index=False)