Merging weather data with historical actual solar power and measurements of solar radiation and temperature

Merge, join, and concatenate

https://pandas.pydata.org/pandas-docs/stable/user_guide/merging.html

https://stackoverflow.com/questions/36292959/pandas-merge-data-frames-on-datetime-index

https://stackoverflow.com/questions/39816671/pandas-populate-new-dataframe-column-based-on-matching-columns-in-another-datafr

In [12]:
import pandas as pd
import numpy as np
import datetime as dt
import csv 
import matplotlib.pyplot as plt
import pytz

In [32]:
import os
cwd = os.getcwd()
cwd
# os.chdir('pvinhokkaidodatadistribution')
# C:\Users\Mhdella\Google Drive\Jupyter Folder\PV_Hokkaido_forecast_contest\
os.chdir('C:\\Users\\Mhdella\\Google Drive\\Jupyter Folder\\PV_Hokkaido_forecast_contest\\pvinhokkaidodatadistribution')
nwd=os.getcwd()
nwd

'C:\\Users\\Mhdella\\Google Drive\\Jupyter Folder\\PV_Hokkaido_forecast_contest\\pvinhokkaidodatadistribution'

In [27]:
dfp=pd.read_csv('LD1_P201601~201712.csv', parse_dates=[['DATE', 'TIME']]) 
dfq=pd.read_csv('LD2_QT201601~201712.csv', header = 1, parse_dates=[['DATE', 'TIME']]) 

dfq.head()
# dfp.head()
# dfs1_mes_tz.head()
# print(len(dfp), len(dfq))
# print(len(dfs1_mes), len(dfs2_mes), len(dfs1_mes_tz), len(dfs2_mes_tz))

# list(dfq)
# list(dfp)
# list(dfs1_mes)

,DATE_TIME,solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3
0,2016-01-01 00:00:00,-0.000778,-2.3,-0.000902,-2.5,-0.000717,-8.8,-0.002055,-4.4
1,2016-01-01 00:30:00,-0.000703,-2.2,-0.000727,-2.8,-0.000073,-9.3,-0.002093,-4.2
2,2016-01-01 01:00:00,-0.000713,-2.1,-0.000774,-3.2,-0.000957,-9.0,-0.000592,-4.9
3,2016-01-01 01:30:00,0.000029,-2.2,-0.000942,-3.5,-0.001920,-8.6,-0.001966,-5.6
4,2016-01-01 02:00:00,-0.000261,-2.4,-0.000459,-3.7,-0.000978,-7.9,-0.001745,-5.5

In [40]:
os.chdir('C:\\Users\\Mhdella\\Desktop\\ERA5_data')

In [47]:
df_43_mes17_18=pd.read_csv('Hokk_Ens_Agg_Res_Jp_lat43_2017_18.csv',parse_dates=[['DATE', 'TIME']])
df_42_44_mes17_18=pd.read_csv('Hokk_Ens_Agg_Res_Jp_lat42_44_2017_18.csv',parse_dates=[['DATE', 'TIME']])

df_43_mes17_18.head()
# list(df_43_mes17_18)
# list(df_42_44_mes17_18)

,DATE_TIME,time,u10,v10,t2m,asn,sd,ssrdc,ssrd,tcc,tciw,tclw,tp,wind_speed
0,2017-01-01 09:00:00,2017-01-01 00:00:00,0.794492,-0.167588,-7.803345,0.816398,0.048845,77.24529,64.37207,0.721072,0.003813,0.014246,0.000010,0.811975
1,2017-01-01 09:30:00,2017-01-01 00:30:00,0.901602,-0.034315,-7.054672,0.816274,0.048848,126.69518,104.35625,0.742007,0.004822,0.013035,0.000011,0.938313
2,2017-01-01 10:00:00,2017-01-01 01:00:00,1.008713,0.098959,-6.306000,0.816150,0.048851,176.14510,144.34044,0.762942,0.005831,0.011825,0.000012,1.064650
3,2017-01-01 10:30:00,2017-01-01 01:30:00,1.115824,0.232232,-5.557327,0.816026,0.048853,225.59500,184.32463,0.783877,0.006839,0.010615,0.000013,1.190988
4,2017-01-01 11:00:00,2017-01-01 02:00:00,1.222934,0.365506,-4.808655,0.815902,0.048856,275.04492,224.30879,0.804812,0.007848,0.009404,0.000014,1.317326

In [48]:
dfp.set_index(pd.to_datetime(dfp['DATE_TIME']), inplace=True)
dfq.set_index(pd.to_datetime(dfq['DATE_TIME']), inplace=True)

#### dfp.join(dfq, how='right')
dfpq=pd.merge(dfp,dfq, how='inner', on='DATE_TIME')
dfpq.head()

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,temp[deg C].3
0,2016-01-01 00:00:00,0.0,0.0,-0.000778,-2.3,-0.000902,-2.5,-0.000717,-8.8,-0.002055,-4.4
1,2016-01-01 00:30:00,0.0,0.0,-0.000703,-2.2,-0.000727,-2.8,-0.000073,-9.3,-0.002093,-4.2
2,2016-01-01 01:00:00,0.0,0.0,-0.000713,-2.1,-0.000774,-3.2,-0.000957,-9.0,-0.000592,-4.9
3,2016-01-01 01:30:00,0.0,0.0,0.000029,-2.2,-0.000942,-3.5,-0.001920,-8.6,-0.001966,-5.6
4,2016-01-01 02:00:00,0.0,0.0,-0.000261,-2.4,-0.000459,-3.7,-0.000978,-7.9,-0.001745,-5.5

In [58]:
df_43_mes17_18.set_index(pd.to_datetime(df_43_mes17_18['DATE_TIME']), inplace=True)
df_42_44_mes17_18.set_index(pd.to_datetime(df_42_44_mes17_18['DATE_TIME']), inplace=True)

dfpq_43_mes17_18=pd.merge(dfpq,df_43_mes17_18, how='inner', on='DATE_TIME')
dfpq_43_mes17_18.head()

dfpq_42_44_mes17_18=pd.merge(dfpq,df_42_44_mes17_18, how='inner', on='DATE_TIME')
dfpq_42_44_mes17_18.head()

C:\Users\Mhdella\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:2961: FutureWarning: 'DATE_TIME' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  exec(code_obj, self.user_global_ns, self.user_ns)

,DATE_TIME,S1[MW],S2[MW],solar[kW/m2],temp[deg C],solar[kW/m2].1,temp[deg C].1,solar[kW/m2].2,temp[deg C].2,solar[kW/m2].3,...,t2m,asn,sd,ssrdc,ssrd,tcc,tciw,tclw,tp,wind_speed
0,2017-01-01 09:00:00,58.1,54.7,0.090477,-3.6,0.269410,1.6,0.270578,-11.5,0.267741,...,-7.803345,0.816398,0.048845,77.24529,64.37207,0.721072,0.003813,0.014246,0.000010,0.811975
1,2017-01-01 09:30:00,79.4,62.9,0.112070,-3.3,0.333263,2.2,0.308058,-9.9,0.315220,...,-7.054672,0.816274,0.048848,126.69518,104.35625,0.742007,0.004822,0.013035,0.000011,0.938313
2,2017-01-01 10:00:00,89.4,66.7,0.131608,-2.9,0.248233,1.4,0.290157,-8.9,0.356022,...,-6.306000,0.816150,0.048851,176.14510,144.34044,0.762942,0.005831,0.011825,0.000012,1.064650
3,2017-01-01 10:30:00,99.5,62.8,0.162737,-2.5,0.362800,1.6,0.357976,-6.6,0.394403,...,-5.557327,0.816026,0.048853,225.59500,184.32463,0.783877,0.006839,0.010615,0.000013,1.190988
4,2017-01-01 11:00:00,114.3,61.5,0.172699,-2.1,0.382751,2.0,0.326166,-5.6,0.351216,...,-4.808655,0.815902,0.048856,275.04492,224.30879,0.804812,0.007848,0.009404,0.000014,1.317326

In [59]:
print(len(dfpq_43_mes17_18), len(dfpq_42_44_mes17_18))

17502 17502

NOTE: S1 and S2 can be aslo merged together with the power and measurements (that could increas the training power for the forecasting mode).

In [60]:
print(len(dfpq_42_44_mes17_18)) #number of rows
print(len(dfpq_42_44_mes17_18.columns))  #number of columns

17502
24

In [64]:
### dfpq_43_mes17_18.to_csv('Merg_Ens_Agg_42_44_mes17_18.csv', encoding='utf-8', index=False)

### dfpq_42_44_mes17_18.to_csv('Merg_Ens_Agg_43_mes17_18.csv', encoding='utf-8', index=False)